.displayNormal {
    display: inherit !important;
}

.title-homepage {
    text-align: center;
    margin-top: 60px;
}

.linear-gradient-text {
    background: -webkit-linear-gradient(#EE3D8B, #de66f6) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-custom {
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 100px;
}

.nav-link:hover {
    border-bottom: 1px solid transparent !important;
}

.active {
    text-align: center; font-size: 1.2em; margin-top: 15px; font-weight: 500;
    color: #3F4254 !important;
    margin-bottom: 20px;
}

.button1 {
    width: auto;
    max-width: 230px;
    margin-right: 15px;
    min-width: 230px;
    min-height: 90px;
    opacity: 0.6;
}

.button2 {
    width: auto;
    min-width: 230px;
    height: 55px;
    max-width: 230px;
    vertical-align: top !important;
    min-height: 90px;
    opacity: 0.6;
}


.wave-primary {
    background: linear-gradient(#ee3d8b1f, #f6666f17) !important;
}


.wave.wave-primary .svg-icon svg g [fill] {
    fill: #181c328f !important;
}

.linear-test-highlight {
    background: -webkit-linear-gradient(#EE3D8B, #F6666F);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

.svg-icon.svg-icon-primary svg g [fill] {
    fill: #ffffff !important;
}

.button1:hover {
    opacity: 1 !important;
    border: 1px solid #00000008 !important;
    box-shadow: #0000003b 2px 2px;
}


.button2:hover {
    opacity: 1 !important;
    border: 1px solid #00000008 !important;
    box-shadow: #0000003b 2px 2px;
}

.activeButton {
    opacity: 1 !important;
    border: 1px solid #00000008 !important;
    box-shadow: #0000003b 2px 2px;
}

.desactiveButton {
    opacity: 0.6;
}

.niquist .svg-icon.svg-icon-primary svg g [fill] {
    fill: #ff0000 !important;
}

.button3 {
    position: relative;
    background: #181C32 !important;
    color: white !important;
    top: 30px;
    font-size: 1.2em;
    padding: 12px;
    padding-left: 25px;
    padding-right: 16px;
    transition: all 0.5s;
    cursor: pointer;
}


.debord {
    text-align: center;
    height: 30px;
}

/* 
.button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    font-size: 1.1em;
    right: -20px;
    transition: 0.5s;
  }
  
  .button3:hover span {
    padding-right: 25px;
  }
  
  .button3:hover span:after {
    opacity: 1;
    right: 0;
  } */

  .hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  
@media (max-width: 480px) { 
    .card-custom {
        width: 90%;
    }
    .button1 {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .button2 {
        margin-bottom: 10px;
    }
    .marginTop {
        margin-top: 45px;
    }
    .stopJustify {
        text-align: unset !important;
    }
    .paddingLeft {
        padding-left: 12.5px !important;
    }
    .rightPadding {
        padding-right: 12.5px !important;
    }
  }
  
  @media (max-width: 769px) {
    .card-custom {
        width: 90%;
    }
    .button1 {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .button2 {
        margin-bottom: 10px;
    }
    .marginTop {
        margin-top: 45px;
    }
    .stopJustify {
        text-align: unset !important;
    }
    .paddingLeft {
        padding-left: 12.5px !important;
    }
    .rightPadding {
        padding-right: 12.5px !important;
    }
  }

  
  @media (min-width: 768px) and (max-width: 1023px) {
    .card-custom {
        width: 90%;
    }
    .button1 {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .button2 {
        margin-bottom: 10px;
    }
    .marginTop {
        margin-top: 45px;
    }
    .stopJustify {
        text-align: unset !important;
    }
    .paddingLeft {
        padding-left: 12.5px !important;
    }
    .rightPadding {
        padding-right: 12.5px !important;
    }
  }


 


  