.linear-gradient-text {
    background: -webkit-linear-gradient(#EE3D8B, #de66f6) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-link:hover {
  background-color: rgba(47, 235, 100, 0.8) !important;
}
