
<div  class="contentChangeSubcription">

  <div style="background-color: rgba(197, 202, 222,0.3);height: 100%;width: 15%;text-align: center;">
<p class="textChangeSUbscription" >Changer de type d'abonnements</p>
</div>
</div>
<div class="priceContainer">
  <div class="priceColumnContainer" *ngFor="let i of priceArray">

    <div class="contentContainerTitle">
      <div style="height: 25%;width: 100%;"></div>
      <p class="textContentTitle">{{i.titlePrice}}</p>
    </div>
    <div style="height: 15%;width: 100%;"></div>
    <div class="contentContainer">
      <p class="textContent">{{i.price}}</p>

    </div>
    <div style="width: 60%;height: 1.5px;background-color: yellow;align-self: center;"></div>
    <div style="height: 12%;width: 100%;"></div>
    <div class="contentContainer">
    <p class="textContent">Sans engagements</p>
    </div>
    <div style="height: 15%;width: 100%;"></div>

    </div>
</div>

